@import "../scss/normalize/normalize.scss";
@import "../scss/components/header";
@import "../scss/components/hero";
@import "../scss/components/catalog";
@import "../scss/components/footer";
@import "../scss/components/articlePage";

body {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 10px;
}




